{"openapi":"3.1.0","info":{"title":"DatabookAI REST API","summary":"Integrate DatabookAI's intelligence into your applications with a simple, reliable, and secure REST API.","description":"\n## Introduction\nThe DatabookAI REST API lets you integrate DatabookAI's intelligence directly into your own applications and workflows. Browse the available operations, grouped by resource, in the **Endpoints** section below.\n\nThe API uses standard HTTP methods, predictable resource-oriented URLs, and JSON-encoded request and response bodies. Every response, including errors, returns JSON.\n\n## Getting started\n1. Obtain API access. Access is provisioned by Databook support, who issue the credentials your application uses to authenticate.\n2. Send your first request. Include your access token in the `Authorization` header (see **Authentication**) and the required identity headers on every call.\n3. Handle the response. Successful calls return a `2xx` status with a JSON body; failures return a JSON error object with a consistent shape (see **Errors**).\n\n### Prerequisites\n- An active Databook account.\n- API access provisioned by Databook support.\n\n## Authentication\nAll requests must be authenticated with a bearer token issued by Databook support. Pass the token in the `Authorization` header:\n\n```\nAuthorization: Bearer <YOUR_ACCESS_TOKEN>\n```\n\nRequests must also include the following identity headers so the API can resolve the calling user and tenant:\n\n| Header | Description |\n| --- | --- |\n| `databook-user-id` | Identifier of the user the request is made on behalf of. |\n| `databook-tenant-id` | Identifier of the tenant (organization) the request belongs to. |\n\nRequests that are missing or presenting an invalid token receive a `401 Invalid authentication` response. Tokens that lack the required permissions receive a `401` as well. Keep your token secret. Do not embed it in client-side code or commit it to source control.\n\n## Requests and responses\n- All request and response bodies are JSON, except file uploads (for example, the batch job endpoint), which use `multipart/form-data`.\n- Send `Content-Type: application/json` for endpoints that accept a JSON body.\n- Timestamps are UTC and IDs are strings unless otherwise noted in the schema.\n\n## Errors\nThe API uses conventional HTTP status codes to indicate the outcome of a request. Codes in the `2xx` range indicate success, `4xx` codes indicate a problem with the request (for example, a missing parameter or invalid token), and `5xx` codes indicate an error on Databook's side.\n\nEvery error response shares the same shape: an `error` object containing a machine-readable `type` and a human-readable `message`. Some responses also include a `reference_id` you can share with Databook support to help investigate the issue.\n\n```json\n{\n  \"error\": {\n    \"type\": \"invalid_request\",\n    \"message\": \"Invalid request\"\n  },\n  \"reference_id\": \"b1f2c3d4-...\"\n}\n```\n\n| Status | Error type | Meaning |\n| --- | --- | --- |\n| `400` | `invalid_request` | The request was malformed or failed validation. |\n| `401` | `invalid_authentication_error` | The access token is missing, invalid, or lacks the required permissions. |\n| `404` | `resource_not_found_error` | The requested resource does not exist. |\n| `429` | `rate_limit_error` | Too many requests. Slow down and retry after a short delay. |\n| `500` | `internal_server_error` | An unexpected error occurred on Databook's side. |\n| `503` | `server_side_overload_error` | The service is temporarily overloaded or the request exceeded the time limit. Retry later. |\n\n## Rate limits\nThe API enforces rate limits to keep the service reliable for everyone. When you exceed a limit, requests return `429 rate_limit_error`. Build retries with exponential backoff into your integration to handle these responses gracefully.\n\n## Timeouts\nThe maximum duration for any single API call is 180 seconds. Requests that exceed this limit return a `503 server_side_overload_error`. For long-running workloads, prefer the batch endpoints, which process work asynchronously.\n\n## Legal\n<a href=\"https://databook.com/privacy/\" target=\"_blank\" rel=\"noopener noreferrer\">Privacy Policy</a><br />\n<a href=\"https://databook.com/terms/\" target=\"_blank\" rel=\"noopener noreferrer\">Terms and Conditions</a><br />\n<a href=\"https://trust.databook.com/\" target=\"_blank\" rel=\"noopener noreferrer\">Security Trust Center</a><br />\n<a href=\"https://databook.com/\" target=\"_blank\" rel=\"noopener noreferrer\">Databook</a><br />\n\n## Endpoints\n","version":"0.6.0"},"servers":[{"url":"https://api.databook.com"}],"paths":{"/v1/batch/job":{"post":{"tags":["batch - create"],"summary":"Create job","operationId":"create_job_v1_batch_job_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_create_job_v1_batch_job_post","type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"],"title":"Body_create_job_v1_batch_job_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobByIdResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}},"get":{"tags":["batch - query"],"summary":"List jobs","operationId":"list_job_v1_batch_job_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListJobResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}}},"/v1/batch/job/input-csv-template":{"get":{"tags":["batch - create"],"summary":"Get input CSV template","operationId":"get_job_input_csv_template_v1_batch_job_input_csv_template_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobInputCsvTemplateResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}}},"/v1/batch/job/{job_id}":{"get":{"tags":["batch - query"],"summary":"Get job by id","operationId":"get_job_by_id_v1_batch_job__job_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobByIdResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}}},"/v1/batch/job/{job_id}/result":{"get":{"tags":["batch - query"],"summary":"Get job result by id","operationId":"get_job_result_by_id_v1_batch_job__job_id__result_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetJobResultByIdResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}}},"/v1/chat":{"post":{"tags":["chat"],"summary":"Create a chat","description":"Send a input messages with text, and the model will generate the next message in the conversation.","operationId":"chat_v1_chat_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}}},"/v1/insights":{"get":{"tags":["batch - create"],"summary":"List insights","operationId":"list_insights_v1_insights_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListInsightResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}}},"/v1/reasoning":{"post":{"tags":["reasoning"],"summary":"Run deep reasoning","description":"Run deep reasoning with the given agent and parameters.","operationId":"run_reasoning_v1_reasoning_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"databook-user-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-User-Id"}},{"name":"databook-tenant-id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Databook-Tenant-Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReasoningRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReasoningResponse"}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidRequest"}}}},"401":{"description":"Invalid authentication","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInvalidAuthentication"}}}},"404":{"description":"Requested resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRequestedResourceNotFound"}}}},"429":{"description":"Rate limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyRateLimitReached"}}}},"500":{"description":"Unexpected error on server side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyInternalServer"}}}},"503":{"description":"Server side overload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseBodyServerSideOverload"}}}}}}}},"components":{"schemas":{"Body_create_job_v1_batch_job_post":{"properties":{"file":{"type":"string","contentMediaType":"application/octet-stream","title":"File"}},"type":"object","required":["file"],"title":"Body_create_job_v1_batch_job_post"},"ChatRequest":{"properties":{"query":{"type":"string","maxLength":20000,"title":"Query","examples":["what was domo's revenue in 2019?"]},"conversation_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Conversation Id","examples":[null]}},"type":"object","required":["query"],"title":"ChatRequest"},"ChatResponse":{"properties":{"conversation_id":{"type":"string","format":"uuid","title":"Conversation Id"},"content":{"type":"string","title":"Content"}},"type":"object","required":["conversation_id","content"],"title":"ChatResponse"},"ErrorResponseBodyErrorObjectInternalServer":{"properties":{"type":{"type":"string","const":"internal_server_error","title":"Type"},"message":{"type":"string","title":"Message"},"reference_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reference Id"}},"type":"object","required":["type","message"],"title":"ErrorResponseBodyErrorObjectInternalServer"},"ErrorResponseBodyErrorObjectInvalidAuthentication":{"properties":{"type":{"type":"string","const":"invalid_authentication_error","title":"Type"},"message":{"type":"string","title":"Message"}},"type":"object","required":["type","message"],"title":"ErrorResponseBodyErrorObjectInvalidAuthentication"},"ErrorResponseBodyErrorObjectInvalidRequest":{"properties":{"type":{"type":"string","const":"invalid_request","title":"Type"},"message":{"type":"string","title":"Message"}},"type":"object","required":["type","message"],"title":"ErrorResponseBodyErrorObjectInvalidRequest"},"ErrorResponseBodyErrorObjectRateLimitReached":{"properties":{"type":{"type":"string","const":"rate_limit_error","title":"Type"},"message":{"type":"string","title":"Message"}},"type":"object","required":["type","message"],"title":"ErrorResponseBodyErrorObjectRateLimitReached"},"ErrorResponseBodyErrorObjectRequestedResourceNotFound":{"properties":{"type":{"type":"string","const":"resource_not_found_error","title":"Type"},"message":{"type":"string","title":"Message"}},"type":"object","required":["type","message"],"title":"ErrorResponseBodyErrorObjectRequestedResourceNotFound"},"ErrorResponseBodyErrorObjectServerSideOverload":{"properties":{"type":{"type":"string","const":"server_side_overload_error","title":"Type"},"message":{"type":"string","title":"Message"}},"type":"object","required":["type","message"],"title":"ErrorResponseBodyErrorObjectServerSideOverload"},"ErrorResponseBodyInternalServer":{"properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBodyErrorObjectInternalServer"}},"type":"object","required":["error"],"title":"ErrorResponseBodyInternalServer"},"ErrorResponseBodyInvalidAuthentication":{"properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBodyErrorObjectInvalidAuthentication"}},"type":"object","required":["error"],"title":"ErrorResponseBodyInvalidAuthentication"},"ErrorResponseBodyInvalidRequest":{"properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBodyErrorObjectInvalidRequest"}},"type":"object","required":["error"],"title":"ErrorResponseBodyInvalidRequest"},"ErrorResponseBodyRateLimitReached":{"properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBodyErrorObjectRateLimitReached"}},"type":"object","required":["error"],"title":"ErrorResponseBodyRateLimitReached"},"ErrorResponseBodyRequestedResourceNotFound":{"properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBodyErrorObjectRequestedResourceNotFound"}},"type":"object","required":["error"],"title":"ErrorResponseBodyRequestedResourceNotFound"},"ErrorResponseBodyServerSideOverload":{"properties":{"error":{"$ref":"#/components/schemas/ErrorResponseBodyErrorObjectServerSideOverload"}},"type":"object","required":["error"],"title":"ErrorResponseBodyServerSideOverload"},"GetJobByIdResponse":{"properties":{"id":{"type":"string","title":"Id"},"state":{"type":"string","title":"State"},"stopped_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stopped Reason"},"created_at":{"type":"string","title":"Created At"},"started_running_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Started Running At"},"stopped_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stopped At"}},"type":"object","required":["id","state","created_at"],"title":"GetJobByIdResponse"},"GetJobInputCsvTemplateResponse":{"properties":{"job_input_csv_template_url":{"type":"string","title":"Job Input Csv Template Url"}},"type":"object","required":["job_input_csv_template_url"],"title":"GetJobInputCsvTemplateResponse"},"GetJobResultByIdResponse":{"properties":{"job_id":{"type":"string","title":"Job Id"},"job_result_s3_url":{"type":"string","title":"Job Result S3 Url"}},"type":"object","required":["job_id","job_result_s3_url"],"title":"GetJobResultByIdResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ListInsightElement":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"version":{"type":"integer","title":"Version"},"description":{"type":"string","title":"Description"},"category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Category"}},"type":"object","required":["id","name","version","description"],"title":"ListInsightElement"},"ListInsightResponse":{"properties":{"result":{"items":{"$ref":"#/components/schemas/ListInsightElement"},"type":"array","title":"Result"}},"type":"object","required":["result"],"title":"ListInsightResponse"},"ListJobResponse":{"properties":{"result":{"items":{"$ref":"#/components/schemas/GetJobByIdResponse"},"type":"array","title":"Result"}},"type":"object","required":["result"],"title":"ListJobResponse"},"PostReasoningRequest":{"properties":{"agent_name":{"type":"string","title":"Agent Name"},"parameters":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Parameters"}},"type":"object","required":["agent_name"],"title":"PostReasoningRequest"},"PostReasoningResponse":{"properties":{"response":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Response"},"reference_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reference Id"},"citations":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Citations"},"metadata":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Metadata"}},"type":"object","title":"PostReasoningResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}},"tags":[{"name":"batch - create","x-displayName":"Batch - Create"},{"name":"batch - query","x-displayName":"Batch - Query"},{"name":"chat","x-displayName":"Chat"},{"name":"reasoning","x-displayName":"Reasoning"},{"name":"insights-catalog","description":"The insights below are available through the **List insights** and batch endpoints. Pass an insight's **ID** wherever an `insight_id` is required (for example, in the batch job input CSV).\n\n### Competitors\n\n| Insight | ID |\n| --- | --- |\n| Who are the peer companies of target company | `43dd5ba2-3c38-4372-9856-54c4241bdc43` |\n\n### Firmographics\n\n| Insight | ID |\n| --- | --- |\n| Give a concise summary of target company's budget cycle and when is the best time to sell to this company (in fewer than 200 words) | `6d45aa5b-e78c-453d-849c-9291e4652103` |\n| Give a concise summary of target company's strategic priorities (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652107` |\n| Give a concise summary of target company's sustainability priorities (in 200 words or fewer). Focus on sustainability priorities and not overall strategic priorities | `6d45aa5b-e78c-453d-849c-9291e4652109` |\n| Give a concise summary of target company's technology & digital priorities (in fewer than 200 words). Focus on technology and digital priorities and not overall strategic priorities | `6d45aa5b-e78c-453d-849c-9291e4652108` |\n| Give me a concise business description of the target company (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652100` |\n| Give me a concise overview of target company's business model (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652102` |\n| Give me a concise overview of target company's products, services and solutions (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652101` |\n| Give me a concise summary (in 200 words or fewer) of management changes within the past 4 weeks at target company | `6d45aa5b-e78c-453d-849c-9291e4652130` |\n| Give me a concise summary (in 200 words or fewer) of target company's executive compensation, including which metrics or KPIs executives are compensated on, and any areas where executives are failing to meet these compensation targets. | `6d45aa5b-e78c-453d-849c-9291e4652111` |\n| Give me a concise summary of business and financial challenges at target company (in 200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652114` |\n| Give me a concise summary of management financial targets at target company (in 200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652113` |\n| Give me a concise summary of segment-level business challenges for each business segment at target company (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652106` |\n| Give me a concise summary of target company's business segments (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652104` |\n| Give me a concise summary of target company's operational initiatives (in 200 words or fewer). Focus on operational initiatives and not overall strategic priorities | `6d45aa5b-e78c-453d-849c-9291e4652110` |\n| Give me a concise summary of target company's recent financial performance (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652112` |\n| Give me a concise summary of target company's recent financial performance by reported business segment and geographic region? (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652105` |\n| In 300 words or fewer, summarize who the key executives at target company are | `6d45aa5b-e78c-453d-849c-9291e4652131` |\n| Is target company investing in Google Cloud Platform | `6d45aa5b-e78c-453d-849c-9291e4652132` |\n| Is target company investing in Microsoft Azure | `6d45aa5b-e78c-453d-849c-9291e4652133` |\n| Is target company investing in OpenAI | `6d45aa5b-e78c-453d-849c-9291e4652135` |\n| Is target company investing in Oracle Cloud Platform or Oracle Cloud Infrastructure | `6d45aa5b-e78c-453d-849c-9291e4652134` |\n| Summarize (in 300 words or fewer) latest news and key developments at target company from the past 4 weeks | `6d45aa5b-e78c-453d-849c-9291e4652129` |\n| Summarize concisely (in 200 words or fewer) the latest digital and technology trends in target company's industry | `6d45aa5b-e78c-453d-849c-9291e4652122` |\n| Summarize concisely (in 200 words or fewer) the latest industry trends impacting target company | `6d45aa5b-e78c-453d-849c-9291e4652124` |\n| Summarize concisely (in 300 words or fewer) the latest earnings call for target company | `6d45aa5b-e78c-453d-849c-9291e4652125` |\n| Summarize concisely how my company's product capabilities align with target company's business and financial challenges (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652120` |\n| Summarize concisely how my company's product capabilities align with target company's operational initiatives (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652118` |\n| Summarize concisely how my company's product capabilities align with target company's strategic priorities (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652116` |\n| Summarize concisely how my company's product capabilities align with target company's sustainability priorities (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652119` |\n| Summarize concisely how my company's product capabilities align with target company's technology and digital priorities (200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652117` |\n| Summarize concisely in (200 words or fewer) how AWS should position solutions at target company | `6d45aa5b-e78c-453d-849c-9291e4652115` |\n| Summarize concisely industry financial performance in target company's industry (in 200 words or fewer). Focus on industry-wide performance, not target company's own performance | `6d45aa5b-e78c-453d-849c-9291e4652123` |\n| Summarize industry strategic priorities for target company (in 200 words or fewer). Focus on important priorities for companies in target company's industry or peer group, not target company's own priorities | `6d45aa5b-e78c-453d-849c-9291e4652121` |\n| Summarize the latest management intent relating to AI for target company (in 200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652126` |\n| Summarize the latest management intent relating to cloud migration for target company (in 200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652127` |\n| Summarize the latest management intent relating to digital transformation for target company (in 200 words or fewer) | `6d45aa5b-e78c-453d-849c-9291e4652128` |\n\n### Account Planning\n\n| Insight | ID |\n| --- | --- |\n| Build me an Account Strategy for the target company | `22b6b3bb-ec94-4776-a262-d0073902c291` |\n| Give me an account plan for the target company | `92af625a-2644-435b-932a-6239c8066a82` |\n| Latest Management Intent at the target copmany | `4d0ddffc-5ce7-4631-9d42-b00506fa376c` |\n| Position my solutions at the target company | `4529ceab-173b-4b9c-8886-0c5f9b028e1d` |\n| Summarize target company most recent Earnings call | `242a8d54-b14d-4a49-b575-151a114d65ce` |\n| What are target company strategic priorities | `6aa8ca87-9dfa-4861-922f-979dc1531256` |\n| What is target company financial outlook | `009c30c2-3b02-4f37-9e42-25634ac6a32c` |\n\n### Meeting Preparation\n\n| Insight | ID |\n| --- | --- |\n| Give me a call plan for my meeting with the target company | `84584d1e-39a3-4d61-8fc9-a493a4de8b11` |\n| What Xerox products are target company currently investing in | `3d7d8905-66e1-4836-bc5b-7a9a2c1d3870` |\n| What are some discovery questions for the target company | `b3a3ce9d-49ad-40d1-a3a7-a421cd3fb756` |\n| What are the latest challenges at the target company | `cce1d117-22c1-441e-a015-073bbb1e7a4d` |\n| What are the latest deal risks at the target company | `5dbe0a0e-2535-437e-84b5-4a9c79c66017` |\n| What are the latest events at the target company | `0c068a4b-5fa5-41eb-bac7-be7780c77305` |\n| What are the latest industry trends for the target company | `32c8a4ac-dfa0-41f0-a2b0-cb703d86a985` |\n| What has changed since the last earnings call at the target company | `16b467a7-05a1-4770-8ee9-d4afdf65f7eb` |\n| What is the competitive landscape at the target company | `22246c2c-bf2c-42a6-8621-4b1935460694` |\n| What products sold by the Xerox Corporation are target company currently investing in | `3d7d8905-66e1-4836-bc5b-7a9a2c1d3871` |\n| Who are the key executives at the target company | `393df251-7591-46be-bdc2-2413ba6a43ab` |\n\n### Target Account\n\n| Insight | ID |\n| --- | --- |\n| Give me a concise summary in table form of management changes within the past 1 week at the target company | `0556f7bd-9949-4bee-8acc-714d62ab5b88` |\n| Give me a concise summary in table form of management changes within the past 2 weeks at the target company | `bd3fe9d8-e3d0-4568-8dc7-e4b39a6cf8cd` |\n| Give me a concise summary in table form of management changes within the past 4 weeks at the target company | `041d552f-fe5c-4f99-b10c-bc152bdf1658` |\n| Give me a contact strategy at the target company | `463c1b5f-5fd6-478b-9a57-ef96399f1610` |\n| Give me the Databook Score for the target company | `125e53a9-ab50-48e5-baf2-685b68533ace` |\n| How does the target company goals and initiatives align with my company product capabilities | `96ee3f4a-d55f-4d01-9ff6-2d39a4fe0caf` |\n| Tell me about the target company | `925e0062-a44f-42f1-9f4d-c4393b7cde41` |\n| What are some key opportunities at the target company | `2aacb980-7e34-4831-954b-d58d749e98ac` |\n| What are the business segments at the target company | `3bf0f2c7-bf35-4c10-bdb8-49bef8c6e98e` |\n| When is the best time to sell to the target company | `2c595338-758c-4a6e-a9ed-b2eb7437f4c5` |\n| is the target company a good company for me | `a7454be7-ce2f-4414-ad1e-19fa01fff61a` |","x-displayName":"Available Insights","x-traitTag":true}]}